<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Acme|Noto+Sans+JP&amp;subset=japanese" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap" rel="stylesheet">

    </head>
    <body>
        <div>
            
            <table class="chart1">
            <% if @error_message %>
                <div class="form-error">
                    <%= @error_message %>
                </div>
            <% end %>
            <%= form_tag("/login") do%>
                <form action="送信先URLを入れる" method="POST">
                    <tr>
                        <th>
                            アカウント名
                        </th>
                        <td class="addBorder">
                            <a>@</a><input name = "account_name" type="text" value = "<%= @account_name%>">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            パスワード
                        </th>
                        <td>
                            <a>　</a><input name = "password" type="password" value = "<%= @password%>"> 
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="ログイン">
                        </td>
                    </tr>
                </form>
            <%end%>
            </table>
        </div>
    </body>
</html>